.site-header{
    background-color: #F86B64;
    color: #e0ffff;
    height: 100vh;
    font-family: monospace;

}
.dp{
    border-radius: 50%;
    height: 250px;
    width: 200px;
    box-shadow: #0d7bc5 2px 5px 5px;
}
body{
    margin: 0;
}

.intro{
    margin: 0px;
    text-align: center;
    padding-top: 15%;
}
